/*---- Reset ----*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-fluid{
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li {
	list-style-type: none;
	text-align: center;
  margin: 0;
  padding: 0;
}


/*---- Header ----*/


/*---- NavBar ----*/

/*---- CartDetail ----*/
.cartDetail{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.divContainCart{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  padding: 15px;
  box-shadow: 1px 1px 5px black;
}

.divDetailUl{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  
}

.gridCart1{
  margin: 0 20px;
  align-self: center;
  width: 100%;
  background-color: rgba(161, 238, 212, 0.76);
  margin: 5px 0;
  font-weight: 500;
}

.gridCart2{
  margin-left: 20px;
  align-self: center;
  width: 100%;
  background-color: rgba(161, 238, 212, 0.76);
  margin: 5px 0;
}

.liDetailCart{
  display: flex;
  text-align: center; 
  justify-content: center;
  align-items: center;
}

.trashIconButton{
  border: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}

.trashIcon{
  color: rgb(13, 97, 136);
  margin-left: 20px;
}

.totalDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;  
  background-color: rgba(161, 238, 212, 0.76);
}

.totalP{
  align-self: center;
  margin-bottom: 0;
  font-weight: 700;
}

.btnFooterCart{
  display: flex;
  justify-content: flex-end;
  margin: 25px 0;
}

.btnComprar{
  margin: 0 30px;
}


/*---- CartWidget ----*/

.cartWidget{
  width: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.btnCart{
  border: none;
}

.iconCart{
  color: rgb(13, 97, 136);
}

.spanCart{
  color: rgb(13, 97, 136);
  font-weight: 600;
}

/*---- ItemDetail ----*/
.containProducts{
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardProducto{
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-shadow: 1px 1px 5px rgb(218, 218, 218);
  border-radius: 5px;  
  max-width: 70%;
  height: 450px;
  justify-content: space-between;
  align-items: center;
}

.imgProduct{
  width: 400px;
  margin-right: 10px;
}

.detailProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(206, 205, 205);
}

.btnParesAgregados{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.btnCantidadPar{
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(9, 64, 128);
  border-radius: 50%;
  color: rgb(242, 244, 247);
  background: rgb(49, 101, 180);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.btnCantidadPar:hover{
  background: rgb(12, 79, 179);
}

.spanPares{
  font-size: 1.5rem;
}

.btnAgregarCarrito{
  margin-top: 15px;
  margin-bottom: 10px;
  
}

/*---- ItemList ----*/
.itemListUl{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

/*---- Item Card ----*/
.divContainerCard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 250px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(168, 168, 168);
  background-color: rgb(243, 243, 243);
}

.nameProduct{
  margin-top: 10px;
}

.imageProduct{  
  border-radius: 10px;
  width: 250px;
}


/*---- Footer ----*/

.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(219, 218, 214);
  align-items: flex-start;
}

.footerDiv{
  width: 20%;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.footCategorias{
  font-size: 1rem;
  text-align: center;
}

.footCategoriasUl{
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footCategoriasUl a {
	text-decoration: none;
}






/*---- App original----*/
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
